
div {
    width: 260px;
    height: 260px;
    float: left;
    margin-right: 50px;
}
.circle {
   border-radius: 50%;
  }        
.rounded {
      border-radius: 25%;
}
.square {
  border-radius: 0%;  
} 
       
#circle {
    background-color: #196F3D;
}
#rounded {
    background-color: #5DADE2;
}        
#square {
    background-color: #58D68D;
}
